
.main{
width:1200px;
height:900px;
background:1.jpg;
}
.sub1{
width:1200px;
height:100px;
background:2.jpg;
float:left;
}
.sub2{
width:1200px;
height:700px;
background:3.jpg;
float:left;
}
.sub3{
width:200px;
height:700px;
background:4.jpg;
float:left;
}
.sub4{
width:800px;
height:700px;
background:5.jpg;
float:left;
}
.sub5{
width:200px;
height:700px;
background:6.jpg;
float:left;
}
